<% if @user.present? %>
  <div>
    <a href="/profile"><%= @user.name %></a>
  </div>
  <div>
    <a href="/cart">Cart</a>
  </div>
<% else %>
  <a href="/sign_up">Sign up</a> or
  <a href="/login">Login</a>
<% end %>
<h1>Welcome</h1>
<h2>Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li>
      <a href="/categories/<%= category.id %>">
        <%= category.title %>
      </a>
    </li>
  <% end %>
</ul>
<a href="/categories">All categories</a>

<h2>Products</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <a href="/products/<%= product.id %>">
        <%= product.title %>
      </a>
    </li>
  <% end %>
</ul>
<a href="/products">All products</a>