<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @product.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :subtitle %><br>
    <%= form.text_area :subtitle %><br>
    <% @product.errors.full_messages_for(:subtitle).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %><br>
    <% @product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :volume %><br>
    <%= form.text_area :volume %><br>
    <% @product.errors.full_messages_for(:volume).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :in_stock %><br>
    <%= form.text_area :in_stock %><br>
    <% @product.errors.full_messages_for(:in_stock).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :is_active %><br>
    <%= form.text_area :is_active %><br>
    <% @product.errors.full_messages_for(:is_active).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :is_new %><br>
    <%= form.text_area :is_new %><br>
    <% @product.errors.full_messages_for(:is_new).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>