<h1>Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <a href="/products/<%= product.id %>">
        <%= product.title %>
      </a>
      <ul>
        <p>
          <% product.categories.each do |category| %>
          <li>
            <%= category.title %>
          </li>
        <% end %>
        </p>
      </ul>
    </li>
  <% end %>
</ul>
