<h3>Категории товара:</h3>
<% @product.categories.each do |category| %>
  <li>
    <a href="/categories/<%= category.id %>">
      <%= category.title %>
    </a>
  </li>
<% end %>
<h1> <%= @product.title %>  <%= @product.volume.round %> мл</h1>
<%= image_tag "products/#{@product.image}", height: 300 %>

<p>
  <%= @product.subtitle %>
</p>
<h3>
  Цена:
  <%= @product.price %>
</h3>

<%= form_tag '/cart', method: :post do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag "Add to cart" %>
<% end %>