<h3>
  Пользователь:
  <%= @user.name %>
</h3>
<p>
  Почта:
  <%= @user.email %>
</p>
<p>
  Телефон:
  <%= @user.mobile %>
</p>
<h3>Заказы:</h3>
<% @user.orders.each do |order| %>
  <li>
    <a href="/orders/<%= order.id %>">
      <%= order.public_id %>
    </a>
    Цена:
    <%= order.price %>
  </li>
<% end %>
<%= form_tag '/logout' do %>
  <%= submit_tag "Log out" %>
<% end %>
