<h1>Cart</h1>
<ul>
  <% @cart.products_cart.each do |product_cart| %>
    <li>
      <% product = product_cart.product %>
      <a href="/products/<%= product.id %>">
        <%= product.title %>
      </a>
      Кол-во:
      <%= product_cart.amount %>
    </li>
  <% end %>
</ul>

<%= form_tag '/order', method: :post do %>
  <%= submit_tag "Buy" %>
<% end %>