<div>
  <h2>Log In</h2>
  <% if notice.present? %>
  <p>
      <%= notice %>
    </p>
  <% end %>
  <%= form_tag '/login' do %>
    Email: <%= text_field_tag :email %><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag "log In" %>
  <% end %>
  <%= form_tag '/sign_up', method: :get do %>
    Or register now
    <%= submit_tag "Register now" %>
  <% end %>
  
</div>
