<h1> <%= @category.title %></h1>
<ul>
  <% @category.products.each do |product| %>
    <li>
      <a href="/products/<%= product.id %>">
        <%= product.title %>
      </a>
    </li>
  <% end %>
</ul>